body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.contain {
    width: 100%;
    height: 97vh;
    background-image: url(images/donation20.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    top: 20%;

}

.content h1 {

    font-size: 80px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.content p {
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
}

.content button {
    background-color: #fc5347;
    padding: 15px 25px;
    border-radius: 10%;
    border: none;

}

.content button a {
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.action {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 100px;
}

.action h1 {
    font-size: 70px;
    margin-bottom: 25px;
    color: black;
}

.action p {
    font-size: 25px;
    color: rgb(148, 144, 144);
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 60px;
}

.action ul {
    list-style: none;
    display: flex;
    padding-left: 20%;

}

#highlight {
    color: #ed274f;
    background-color: #dd677f67;
    border: 2px solid #ed274f;
}

.action ul li {
    color: rgb(120, 121, 122);
    font-weight: bold;
    font-size: 25px;
    margin: 15px;
    background-color: rgba(175, 170, 170, 0.356);
    padding: 70px 70px;
    margin-bottom: 60px;
}



.action h3 {
    color: rgba(155, 155, 155, 0.295);
    font-size: 20px;
    margin-bottom: 5px;
}

.action .divider {
    width: 1200px;
    height: 2.5px;
    background-color: rgba(155, 155, 155, 0.267);
    display: inline-block;
}

.action button {
    background-color: #fc5347;
    padding: 15px 25px;
    border-radius: 10%;
    border: none;
    margin-top: 25px;
    margin-bottom: 150px;
}

.action button a {
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: none;

}

.plan {
    margin-top: 50%;
    padding-top: 50px;
    text-align: center;
}

.plan h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    color: black;

}

.plan p {
    color: rgba(158, 159, 160, 0.945);
    margin-bottom: 30px;
}

.main-service {
    display: flex;
    width: 100%;
    text-align: left;
    padding: 20px 20px 20px 20px;
    margin-left: 20;
    margin-bottom: 120px;
}

.main-service img {
    width: 12%;
}

.service-box {
    font-size: 25px;
    margin: 40px;
    padding-top: 0;
}

.service-box .box-1 {
    background-color: #96d8ec;
    padding: 20px 22px;
}

.service-box .box-2 {
    background-color: #fd7070d7;
    padding: 20px 22px;
}

.service-box .box-3 {
    background-color: #f0c1a1d7;
    padding: 20px 22px;
}

.top-banner {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 20%;
    padding-bottom: 80px;


}

.banner-contain {
    margin: 20px;
}

.banner-contain h1 {
    font-size: 60px;
    text-align: left;
    font-weight: bold;
    margin: 20px;
}

.banner-contain p {
    font-size: 15px;
    text-align: left;
    padding: 1px;
}

.banner-contain button {
    background-color: #fc5347;
    padding: 15px 25px;
    border-radius: 10%;
    border: none;
    margin-top: 25px;
    margin-bottom: 150px;
}

.banner-contain button a {
    text-align: center;
    color: white;
    font-size: 25px;
    text-decoration: none;

}

.updates {
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 80px;
}

.updates h1 {
    font-size: 70px;
    margin-bottom: 25px;
    color: black;
}

.updates p {
    font-size: 25px;
    color: rgb(148, 144, 144);
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 60px;
}

.email-content {
    width: 50%;
    margin-top: 20px;
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 189, 129, 0.178);
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px;

}

form {
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
    margin-bottom: 20px;

}

form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 30px 20px 20px 30px;
}

form button {
    background: #fc5347;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;


}

form button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.footer {

    margin-top: 40%;
    text-align: center;
    padding-bottom: 20px;
    background-color: #f3495d;
    padding: 30px 30px;

}

.footer h1 p {}